.index-hero {
  background: url("/images/index/singapore.jpeg") no-repeat center;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  position: relative;

  &__location {
    position: absolute;
    bottom: 40px;
    right: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    display: flex;
    align-items: center;

    span {
      display: block;
      margin-left: 5px;
      padding-top: 2px;
    }
  }

  &__card {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    max-width: 416px;
    width: 370px;
    padding: 32px 24px;
    background-color: rgba(255,255,255, .75);
    border-radius: 8px;
    backdrop-filter: blur(3px);
    transition: height .2s ease;

    h1 {
      font-size: 32px;
      line-height: 1.5;
    }
  }

  &__inputs {
    margin-top: 20px;

    .custom-input {
      margin-top: 8px;

      &:first-child {
        margin-top: 0;
      }
    }

    .bi-toggle {
      margin-top: 16px;
    }
  }

  &__search-btn {
    position: relative;
    display: block;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: initial;
    white-space: nowrap;
    transition-property: background, border, box-shadow, color;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 20px;
    margin-top: 20px;
    padding: 0 40px;
    border-radius: 6px;
    text-decoration: none;
    background: $color-blue;
  }

  &__travellers-class {
    display: flex;
    margin-top: 8px;

    .custom-input {
      margin-top: 0;
    }

    .custom-input-class {
      margin-left: 8px;
    }
  }
}
