.index-popular-destinations {
  background: #fff;
  //position: sticky;
  //top: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  padding: 56px 0 220px;

  .container {
    padding: 0 76px;
  }

  &__title {
    position: relative;
    margin: 0 0 72px;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  &__pagination {
    position: absolute;
    right: 76px;
    bottom: 32px;
    left: 76px;

    &-container {
      max-width: 1128px;
      height: 64px;
      padding: 0 !important;
      background: #FFFFFF;
      border-radius: 8px;
      overflow: hidden;
    }

    &-slider {
      height: 100%;
    }

    .item {
      width: fit-content;
      padding: 0 30px;
    }

    .swiper-slide-active {
      font-weight: bold;
    }
  }

  &__title, &__slider, &__pagination {
    z-index: 2;
  }

  &__slider {
    padding: 20px;
    margin: -20px;
  }

  &__slide {
    display: flex;
    justify-content: space-between;

    .left {
      max-width: 424px;

      h3 {
        margin-left: -4px;
        margin-bottom: 8px;
        font-size: 48px;
        color: #fff;
      }

      h4 {
        margin: 0 4px 36px 0;
        display: inline-flex;
        align-items: center;
        height: 24px;
        border-radius: 4px;
        padding: 0 8px;
        font-size: 14px;
        background-color: #fff;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        color: #fff;
        text-shadow: 0 0 20px #000;
      }
    }

    .right {
      a {
        display: block;
        min-width: 40px;
        height: 40px;
        margin-left: auto;

        svg {
          width: 40px;
          height: 40px;
          object-fit: contain;
          fill: white;
          border-radius: 50%;
          box-shadow: 0 0 0 #fff;
          animation: blink-fill 2s infinite;
        }

        @keyframes blink-fill {
          100%,
          0% {
            fill: #fff;
            box-shadow: 0 0 8px #fff;
          }
          60% {
            fill: #e0e0e0;
            box-shadow: 0 0 0 #e0e0e0;
          }
        }
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: linear-gradient(
                      180deg
              , rgba(18,29,84,0.47) 0%, rgba(18,29,84,0) 50%, rgba(18,29,84,0.47) 100%);
    }
  }
}
