.index-tours {
  overflow: hidden;
  background: #fff;
  position: relative;
  z-index: 1;

  &__slide {
    width: 300px;
    height: 300px;
    position: relative;

    .bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border: 1px solid #E8E8E8;
      border-top: none;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 16px;
      background-color: #fff;
      text-align: center;
      font-size: 16px;
      line-height: 1.2;
      font-weight: bold;
    }

    .image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: 8px;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 10px 10px;
        background-image: linear-gradient(180deg, rgba(18,29,84,0.47) 0%, rgba(18,29,84,0) 50%, rgba(18,29,84,0.47) 100%);
        z-index: 1;
      }

      h3 {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 16px;
        font-size: 14px;
        line-height: 1.2;
        color: #fff;
        word-break: break-word;
        z-index: 2;
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px 8px 10px 10px;
        z-index: 0;
        position: relative;
      }
    }
  }

  &__slider {
    overflow: visible;
  }
}
