.custom-input {
  width: 100%;
  position: relative;

  .el-select {
    width: 100%;
  }

  &:hover .custom-input__input, &__input:focus, &__input:active {
    border-color: $color-blue;
  }

  &__input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    padding: 10px 16px 8px;
    color: #606266;
    font-size: 16px;
    line-height: 150%;
    border: 1px solid transparent;
    transition: border-color .2s ease;

    &-wrapper {
      position: relative;

      span {
        pointer-events: none;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 16px 8px;
        font-size: 16px;
        color: #606266;
        line-height: 150%;
        z-index: 1;
      }
    }
  }

  &__dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 8px;
    transform: translateY(40px) scaleY(0);
    transform-origin: top;
    transition: transform .1s ease;
    background: #fff;
    border-radius: 6px;
    z-index: 10;
    border: 1px solid #EBEEF5;
    padding: 6px 12px;

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 50%;
      width: 10px;
      height: 10px;
      transform: rotate(45deg) translateX(-50%);
      background: #ffffff;
    }

    &__content {
      position: relative;
      z-index: 1;
    }

    ul {
      max-height: 300px;
      overflow-y: auto;
      overflow-x: hidden;
      margin-left: -12px;
      margin-right: -12px;
      width: calc(100% + 24px);

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        padding: 8px 12px 5px;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          background-color: rgba(0,0,0, 0.05);
        }

        &.active {
          background-color: rgba(1, 170, 228, 0.15);
          cursor: default;
        }
      }
    }

    &.active {
      transform: translateY(40px) scaleY(1);
    }
  }

  .el-input {
    &__inner {
      width: 100%;
      border-radius: 6px;
      padding: 10px 16px 8px;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      border: 1px solid transparent;
      transition: border-color .2s ease;

      &:hover {
        border-color: $color-blue;
      }
    }

    &__suffix {
      display: none;
    }
  }

  &-option {
    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }
}
