.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .logo {
    span {
      font-size: 40px;
      color: #ffffff;
      text-shadow: 0 0 30px #fff;
      font-family: 'Cookie', cursive;
      transition: text-shadow .2s ease;
    }

    &:hover {
      span {
        text-shadow: 0 0 15px #fff;
      }
    }
  }

  &.static {
    position: static;
  }

  &.dark {
    .logo {
      span {
        color: #000000;
        text-shadow: 0 0 80px #000;
      }

      &:hover {
        span {
          text-shadow: 0 0 50px #000;
        }
      }
    }
  }
}
